@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap");
.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.color-primary {
  color: #97BF0D;
}

.color-secondary {
  color: #006941;
}

.color-purple {
  color: #962582;
}

.color-orange {
  color: #EC7D22;
}

.color-lightblue {
  color: #009F98;
}

.color-white {
  color: #ffffff;
}

.bg-color-primary {
  background-color: #97BF0D;
}

.bg-color-secondary {
  background-color: #006941;
}

.bg-color-purple {
  background-color: #962582;
}

.bg-color-orange {
  background-color: #EC7D22;
}

.bg-color-lightblue {
  background-color: #009F98;
}

.btn-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 28px;
  height: 28px;
  background-color: #006941;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #006941;
}

.btn-ico__sm {
  width: 30px;
  height: 30px;
}

.btn-ico__md {
  width: 40px;
  height: 40px;
}

.btn-ico__xl {
  width: 54px;
  height: 54px;
}

.btn-ico__xxl {
  width: 90px;
  height: 90px;
}

.btn-ico:hover, .btn-ico:active, .btn-ico:focus, .btn-ico:not(:disabled):not(.disabled):active, .btn-ico:not(:disabled):not(.disabled).active {
  background-color: #97BF0D;
  border-color: #006941;
}

.btn-ico__primary {
  background-color: #97BF0D;
  border: solid 1px #97BF0D;
}

.btn-ico__primary:hover, .btn-ico__primary:active, .btn-ico__primary:focus, .btn-ico__primary:not(:disabled):not(.disabled):active, .btn-ico__primary:not(:disabled):not(.disabled).active {
  background-color: #006941;
  border-color: #97BF0D;
}

.btn-ico__caption {
  width: 100%;
  padding-top: 5px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.btn-ico:hover, .btn-ico:active, .btn-ico:focus, .btn-ico:not(:disabled):not(.disabled):active, .btn-ico:not(:disabled):not(.disabled).active {
  text-decoration: none;
}

.btn-dona img {
  position: relative;
  top: -4px;
  padding-right: 3px;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-dona:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
       -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  font-size: 14px;
  color: #676B6D;
  font-family: "Roboto", sans-serif;
}

/* Override bootstrap */
.btn {
  font-size: 17px;
  border-radius: 0;
  padding: 5px 30px;
  font-weight: 500;
}

.btn-primary {
  min-height: 41px;
  color: #ffffff;
  background-color: #97BF0D;
  border-color: #97BF0D;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #006941;
  border-color: #97BF0D;
}

.btn-secondary {
  color: #ffffff;
  background-color: #006941;
  border-color: #006941;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #97BF0D;
  border-color: #006941;
}

.btn-white {
  color: #006941;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-white:hover, .btn-white:active, .btn-white:focus, .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #97BF0D;
  border-color: #97BF0D;
}

.btn-radius {
  border-radius: 20px;
}

.btn-icon-right img {
  position: relative;
  top: -2px;
  margin-left: 4px;
  max-width: 7px;
  width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 6px 20px;
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 1310px) {
  .container {
    max-width: 1280px;
  }
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
  height: 41px;
  border: 1px solid #D8D8D8;
}

.footer {
  padding-top: 30px;
}

.footer .nav-bar {
  list-style-type: none;
  padding-left: 0;
}

.footer .nav-link {
  line-height: 18px;
  font-size: 16px;
  color: #676B6D;
}

.footer .link-title {
  display: block;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #006941;
}

.footer .num-tel {
  padding-top: 7px;
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  color: #006941;
}

.footer .num-tel__sm {
  font-size: 21px;
  line-height: 23px;
}

.footer__copyright, .footer__legal, .footer__info {
  padding: 23px 0px;
  text-align: center;
}

.footer__info p {
  margin-bottom: 5px;
}

.c-newsletter {
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006941+50,003c26+51 */
  background: #006941;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #006941 50%, #003c26 51%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #006941), color-stop(51%, #003c26));
  background: -o-linear-gradient(left, #006941 50%, #003c26 51%);
  background: linear-gradient(to right, #006941 50%, #003c26 51%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006941', endColorstr='#003c26',GradientType=1 );
  /* IE6-9 */
}

.c-newsletter::after {
  width: 33%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-color: #003C26;
  border-radius: 0 0 0 130px;
}

.c-newsletter .container {
  padding: 29px 0;
  color: #ffffff;
}

.c-newsletter h3 {
  font-size: 26px;
  line-height: 28px;
}

.c-newsletter form .btn,
.c-newsletter .form-control {
  min-height: 52px;
}

.c-newsletter .txt-note {
  margin-bottom: 0;
  font-weight: 300;
  font-style: italic;
  padding-top: 10px;
  line-height: 14px;
  font-size: 12px;
}

.c-newsletter .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-newsletter .c-footer-menu {
  position: relative;
  z-index: 1;
}

.c-newsletter .c-footer-menu .nav-link:not(.btn) {
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.c-newsletter .c-footer-menu .nav-item {
  margin: 0 5px;
}

.c-newsletter .c-footer-menu .btn-ico {
  background-color: #ffffff;
}

.c-newsletter .c-footer-menu .btn-ico:hover, .c-newsletter .c-footer-menu .btn-ico:active, .c-newsletter .c-footer-menu .btn-ico:focus, .c-newsletter .c-footer-menu .btn-ico:not(:disabled):not(.disabled):active, .c-newsletter .c-footer-menu .btn-ico:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #97BF0D;
  border-color: #97BF0D;
}

.c-newsletter .c-footer-menu .btn-ico img {
  -webkit-filter: invert(65%) sepia(10%) saturate(3816%) hue-rotate(115deg) brightness(90%) contrast(101%);
          filter: invert(65%) sepia(10%) saturate(3816%) hue-rotate(115deg) brightness(90%) contrast(101%);
}

.c-newsletter .color-white {
  padding-left: 35px;
  display: block;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.c-top-menu {
  padding: 8px 0;
}

.c-top-menu .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-top-menu .btn-ico {
  margin: 0 5px;
}

.c-top-menu .nav-link:not(.btn) {
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.c-brand-menu__brand {
  max-width: 411px;
  width: 100%;
}

.c-brand-menu__container {
  padding-top: 14px;
  padding-bottom: 14px;
}

.c-brand-menu .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-brand-menu .nav-link {
  font-size: 14px;
  line-height: 16px;
  color: #676B6D;
}

.c-brand-menu .nav-link__ico {
  position: relative;
  padding: 5px 40px 5px 20px;
  text-align: right;
}

.c-brand-menu .nav-link__ico img {
  max-width: 28px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-brand-menu .nav-link__ico:hover img {
  -webkit-filter: invert(51%) sepia(10%) saturate(3816%) hue-rotate(115deg) brightness(90%) contrast(101%);
          filter: invert(51%) sepia(10%) saturate(3816%) hue-rotate(115deg) brightness(90%) contrast(101%);
}

.c-main-menu {
  position: relative;
  z-index: 30;
}

.c-main-menu__container::after {
  width: 50%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #962582;
}

.c-main-menu .nav-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
  padding: 0;
}

.c-main-menu > .nav-item:last-child {
  margin-right: -1px;
}

.c-main-menu > .nav-item:last-child .nav-link {
  padding-left: 18px;
  padding-right: 15px;
}

.c-main-menu__sub-contanier {
  width: 100%;
  position: fixed;
  top: 230px;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-main-menu .nav-item {
  padding: 22px 10px 16px;
}

.c-main-menu .nav-item:hover .c-main-menu__sub-contanier {
  top: 239px;
  opacity: 1;
  visibility: visible;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-main-menu__sub {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 25px 30px;
}

.c-main-menu__sub > li {
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.c-main-menu__sub-parent {
  display: block;
  padding-bottom: 15px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #006941;
}

.c-main-menu__sub-parent:hover, .c-main-menu__sub-parent:active, .c-main-menu__sub-parent:focus, .c-main-menu__sub-parent:not(:disabled):not(.disabled):active, .c-main-menu__sub-parent:not(:disabled):not(.disabled).active {
  color: #006941;
  text-decoration: none;
}

.c-main-menu__sub-child {
  list-style-type: none;
  padding-left: 0;
}

.c-main-menu__sub-child a {
  display: block;
  padding-bottom: 5px;
  color: #676B6D;
}

.c-main-menu__sub-child a:hover, .c-main-menu__sub-child a:active, .c-main-menu__sub-child a:focus, .c-main-menu__sub-child a:not(:disabled):not(.disabled):active, .c-main-menu__sub-child a:not(:disabled):not(.disabled).active {
  color: #006941;
}

.c-icon-menu {
  position: relative;
  padding: 0;
  z-index: 21;
}

.c-icon-menu .nav-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  text-align: center;
}

.c-icon-menu .nav-item + .nav-item {
  border-left: solid 1px #ffffff;
}

.c-icon-menu .nav-link {
  position: relative;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  background-color: #97BF0D;
  z-index: 16;
}

.c-icon-menu__sub {
  width: 100%;
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  background-color: rgba(0, 105, 65, 0.9);
  border-radius: 0 53px 0 0;
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-icon-menu .nav-item:hover .c-icon-menu__sub {
  bottom: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.c-icon-menu__sub-link {
  display: block;
  padding: 30px 40px 12px 35px;
}

.c-icon-menu__sub-ico {
  width: 100%;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-icon-menu__sub-desc {
  position: relative;
  margin-top: 10px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
}

.c-icon-menu__sub-desc::after {
  width: 14px;
  height: 24px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../img/ico-arrow.png) no-repeat center;
}

.c-carousel-vh {
  height: 100Vh;
}

.c-carousel-vh .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.c-carousel-vh .carousel-inner,
.c-carousel-vh .carousel-item {
  height: 100%;
}

.c-carousel-vh .arrow-btn {
  width: 32px;
  height: 32px;
}

.c-carousel-vh .arrow-btn img {
  width: 10px;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.c-carousel-vh .arrow-btn.arrow-btn__left img {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.c-carousel-vh .carousel-control-prev,
.c-carousel-vh .carousel-control-next {
  opacity: 1;
}

.c-carousel-vh .carousel-caption {
  bottom: auto;
  left: auto;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(410px, -50%);
      -ms-transform: translate(410px, -50%);
          transform: translate(410px, -50%);
}

.c-carousel-vh .carousel-caption h1 {
  max-width: 585px;
  width: 100%;
  font-size: 70px;
  line-height: 76px;
  font-weight: 700;
}

.c-carousel-vh .carousel-caption h1 span {
  display: block;
  font-weight: 400;
  font-size: 69px;
  line-height: 72px;
}

@media (min-width: 1440px) {
  .c-carousel-vh .carousel-caption h1 {
    font-size: 96px;
    line-height: 96px;
  }
  .c-carousel-vh .carousel-caption h1 span {
    font-size: 95px;
    line-height: 97px;
  }
}

.c-carousel-vh .carousel-caption__desc {
  float: right;
  max-width: 488px;
  width: 100%;
  line-height: 23px;
  font-size: 21px;
  font-weight: 300;
}

.bar_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 3%;
  padding-right: 12%;
}

.bar_title--sec {
  font-size: 32px;
  font-weight: 500;
}

.bar_icon {
  padding-right: 10px;
}

.bar_link {
  font-size: 17px;
  font-weight: 500;
}

.new {
  position: relative;
}

.new_info {
  padding-right: 118px;
}

.new_info--w {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
}

.new_title {
  color: #006941;
  font-size: 18px;
}

.new_date {
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 10px 32px;
}

.new_btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.new p {
  line-height: 1.2;
}

.education_title {
  color: #006941;
  font-size: 26px;
  line-height: 0.9;
}

.education_title--sub {
  font-size: 20px;
}

.education_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donate_title {
  font-size: 59px;
}

.donate_title--sub {
  width: 100%;
  font-size: 28px;
}

.blog_title {
  font-size: 18px;
  max-width: 84%;
}

.blog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog_info {
  position: relative;
}

.blog_btn {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.blog p {
  padding: 8px 18px 0 10px;
}

.c-search {
  position: absolute;
  right: 120px;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.c-search .form-control {
  border-color: #006941;
}

.c-search .form-control:focus {
  outline: none;
  border-color: #006941;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-search.active-search {
  top: 44px;
  opacity: 1;
  visibility: visible;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
       -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.event_item {
  background: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event_col {
  width: 50%;
}

.event_title {
  font-size: 18px;
}

.event_date {
  color: #006941;
}

.event_info {
  text-align: right;
}

.c-carousel-vh {
  height: calc(100Vh - 282px);
}

.section-btns {
  position: absolute;
  top: 20px;
  right: 50%;
  -webkit-transform: translateX(535px);
      -ms-transform: translateX(535px);
          transform: translateX(535px);
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-btns .btn-ico {
  margin-bottom: 20px;
}

@media (min-width: 1440px) {
  .section-btns {
    top: 30px;
  }
  .btn-ico {
    margin-bottom: 30px;
  }
}

.btn-contact {
  position: fixed;
  bottom: 50px;
  right: 50%;
  z-index: 22;
  -webkit-transform: translateX(535px);
      -ms-transform: translateX(535px);
          transform: translateX(535px);
}

.btn-contact.hover {
  z-index: 20;
}

/*# sourceMappingURL=maps/sv-main.css.map */
