

footer {
	.nav-bar {
		list-style-type: none;
		padding-left: 0;
	}
	.nav-link {
		line-height: 18px;
		font-size: 16px;
		color: $color-txt;
	}
	.link-title {
		display: block;
		padding-bottom: 20px;
		font-weight: 700;
		@include font-size(20px, 22px);
		color: $color-secondary;
	}	
}