.attention{
    display: flex;
    min-height: 164px;
    max-height: 164px;
    &_coll{
        width: 22%;
        position: relative;
        transition: all 0.3s ease-out;
    }
    &_image{
        width: 78%;
        position: relative;
        z-index: 10;
        transition: all 0.3s ease-out;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &_info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    &_title{
        font-weight: 300;
        line-height: 1;
        margin: 0;
    }
    &_list{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        width: 0;
        opacity: 0;
        transition: all 0.2s ease-out;
        &--item{
            margin: 0 0px;
            position: relative;
            padding: 0 40px;
            list-style: none;
            &:after{
                content:"";
                height: 100%;
                width: 2px;
                background:$color-white;
                position: absolute;
                top: 0;
                right: 0;
                transform: rotate(12deg);
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            a{
                color: $color-white;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                img{
                    margin-bottom: 10px;
                    width: 50px;
                    height: 52px;
                }
            }
        }
    }
}

.attention_active{
    .attention_coll{
        width: 70%;
    }
    .attention_list{
        position: relative;
        width: auto;
        opacity: 1;
    }
    .attention_image{
        width: 30%;
    }
}