.bar{
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 12%;
        &--sec{
            font-size: 32px;
            font-weight: 500;
        }
    }
    &_icon{
        padding-right: 10px;
    }
    &_link{
        font-size: 17px;
        font-weight: 500;
    }
}