
// Main menu

.c-brand-menu {
	&__brand {
		max-width: 411px;
		width: 100%;
	}	
	&__container {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.nav-item {
		display: flex;
		align-items: center;
	}
	.nav-link {
		@include font-size(14px, 16px);
		color: $color-txt;
	}
	.nav-link__ico {
		position: relative;
		padding: 5px 40px 5px 20px;
		text-align: right;
		img {
			max-width: 28px;
			width: 100%;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover {
			img {
				filter: invert(51%) sepia(10%) saturate(3816%) hue-rotate(115deg) brightness(90%) contrast(101%);
			}
		}
	}		
}