
// Icon menu

.c-icon-menu {
	position: relative;
    padding: 0;	
    z-index: 21;
	.nav-item {
		position: relative;
		flex-grow: 1;
		flex-basis: 0;		
		text-align: center;
		& +  .nav-item {
			border-left: solid 1px $color-white;
		}
	}
	.nav-link {
		position: relative;
		padding: 12px 16px;
		color: $color-white;
		@include font-size(18px, 20px);
		background-color: $color-primary;
		z-index: 16;		
	}
	&__sub {
		width: 100%;
		list-style-type: none;
		padding: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
    	z-index: 15;		
		background-color: rgba(0,105,65,0.9);
		border-radius: 0 53px 0 0;
		transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	}
	.nav-item:hover{ 
		.c-icon-menu__sub {
			bottom: 100%;
			opacity: 1;
			visibility: visible;		
			transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
		}
	}
	&__sub-link {
		display: block;
		padding: 30px 40px 12px 35px;
	}
	&__sub-ico {
		width: 100%;
		min-height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__sub-desc {
		position: relative;
		margin-top: 10px;
		display: block;
		color: $color-white;
		@include font-size(12px, 14px);
		&::after {
			width: 14px;
			height: 24px;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			right: -20px;
			transform: translateY(-50%);
			background: transparent url(../img/ico-arrow.png) no-repeat center;
		}
	}
}