
// Main menu

.c-top-menu {
    padding: 8px 0;
	.nav-item {
		display: flex;
		align-items: center;
	}	
	.btn-ico {
		margin: 0 5px;
	}
	.nav-link:not(.btn) {
		padding-left: 5px;
		padding-right: 5px;
		color: $color-white;
	}
}