
// Font weight

.font-black {
	font-weight: 900;
}

.font-bold {
	font-weight: 700;
}

// Bg colors

.bg-color-primary {
	background-color: $color-primary;
}
.bg-color-secondary {
	background-color: $color-secondary;
}
.bg-color-purple {
	background-color: $color-purple;
}

.bg-color-orange {
	background-color: $color-orange;
}

.bg-color-lightblue{
	background-color:$color-lightblue;
}

// Positions

.p-relative {
	position: relative;
}