
//Colors

$color-primary: #97BF0D;
$color-secondary: #006941;
$color-txt: #676B6D;
$color-purple: #962582;
$color-orange: #EC7D22;
$color-lightblue: #009F98;
$color-darkgreen: #003C26;
$color-darkgray: #707070;
$color-white: #ffffff;

//Fonts

$roboto: 'Roboto', sans-serif;